<div class="table-container">
  <table class="users-table">
    <thead>
      <tr>
        <th (click)="sort('id')">
          ID {{ getSortIcon('id') }}
        </th>
        <th (click)="sort('name')">
          Name {{ getSortIcon('name') }}
        </th>
        <th (click)="sort('street')">
          Street {{ getSortIcon('street') }}
        </th>
        <th (click)="sort('city')">
          City {{ getSortIcon('city') }}
        </th>
        <th (click)="sort('postalCode')">
          Postal Code {{ getSortIcon('postalCode') }}
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.street}}</td>
        <td>{{user.city}}</td>
        <td>{{user.postalCode}}</td>
        <td class="actions">
          <button class="icon-button edit" (click)="onEdit(user)"
            title="Edit user">
            <i class="fas fa-edit"></i>
          </button>
          <button class="icon-button delete" (click)="onDelete(user)"
            title="Delete user">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="no-data" *ngIf="!users || users.length === 0">
    No users found
  </div>
</div>
